In [1]:
l1= ['Data', 'Science', 1,2,3,[1,2,3,33]]

In [2]:
l1[1]

'Science'

In [3]:
l1.append('Rasel')

In [4]:
l1

['Data', 'Science', 1, 2, 3, [1, 2, 3, 33], 'Rasel']

In [5]:
l1.insert(3,'Machine Learning')

In [6]:
l1

['Data', 'Science', 1, 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [7]:
l1[-1][2]

's'

In [8]:
l1[-5][4]

'i'

In [9]:
import sys
sys.getsizeof(l1)

152

In [10]:
l1.index(3)

5

In [11]:
l1.index('Machine Learning')

3

In [12]:
l1

['Data', 'Science', 1, 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [13]:
l1[0]

'Data'

In [14]:
t1 = ('Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel') #tuple

In [15]:
t1[0]

'Data'

In [16]:
#t1[0] = 'Science'

In [17]:
l1

['Data', 'Science', 1, 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [18]:
l1[2:5]

[1, 'Machine Learning', 2]

In [19]:
string = ('Tahmid Hossain Rasel')

In [20]:
string.split()

['Tahmid', 'Hossain', 'Rasel']

In [21]:
for x in range(len(string)):
    print(string[x],x)

T 0
a 1
h 2
m 3
i 4
d 5
  6
H 7
o 8
s 9
s 10
a 11
i 12
n 13
  14
R 15
a 16
s 17
e 18
l 19

In [22]:
l2 = l1

In [23]:
l2

['Data', 'Science', 1, 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [24]:
id(l1)

1623788867008

In [25]:
id(l2)

1623788867008

In [26]:
l2.remove(1)

In [27]:
l2

['Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [28]:
l2.pop(-1)

'Rasel'

In [29]:
l2

['Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33]]

In [30]:
l2.append('Rasel')

In [31]:
l2

['Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [32]:
l2.pop(-1)

'Rasel'

In [33]:
l2

['Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33]]

In [34]:
l2.insert(7,'Rasel')

In [35]:
l2

['Data', 'Science', 'Machine Learning', 2, 3, [1, 2, 3, 33], 'Rasel']

In [36]:
l3=[10,1,2,3,4,5,6]

In [37]:
l3.reverse()

In [38]:
l3

[6, 5, 4, 3, 2, 1, 10]

In [39]:
l3.count(1)

1

In [40]:
l3.count(3)

1

In [41]:
l3

[6, 5, 4, 3, 2, 1, 10]

In [42]:
total=0
for x in l3:
    total+=x
print(total)

31

In [43]:
total=0
for x in l3:
    total+=x
    print(total)

6
11
15
18
20
21
31

# Input User Value

In [44]:
x=10
y=20
x+y

30

In [45]:
x/y

0.5

In [46]:
y%x

0

In [47]:
x=int(input('Enter the first Number:'))
y=int(input('Enter the first Number:'))
print('Sum : ',x+y)

Enter the first Number:2
Enter the first Number:4
Sum :  6

In [48]:
list1=[]

n= int(input())

for i in range(n):
    new_element = (input())
    list1.append(new_element)
    print(list1)

2
thr
['thr']
ai
['thr', 'ai']

In [49]:
list2=[]

n=int(input())

for i in range(n):
    new_element = int(input())
    list2.append(new_element)
    print(list2)

2
4
[4]
5
[4, 5]

In [50]:
list2

[4, 5]

# Tuple in Python (List that can't change)

In [51]:
t1=('TH','Rasel','Data Science','Machine Learning')

In [52]:
tup1=(t1)

In [53]:
t1

('TH', 'Rasel', 'Data Science', 'Machine Learning')

In [124]:
t1[0]=('AI')

TypeError: 'tuple' object does not support item assignment

In [55]:
type(tup1)

tuple

In [56]:
#tuple to list
tup2=list(tup1)

In [57]:
tup2

['TH', 'Rasel', 'Data Science', 'Machine Learning']

In [58]:
tup1

('TH', 'Rasel', 'Data Science', 'Machine Learning')

In [59]:
'Rasel' in tup1

True

In [60]:
40 in tup1

False

In [122]:
del tup1(3)

SyntaxError: cannot delete function call (2465511252.py, line 1)

In [123]:
tup1.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [63]:
tupl=(1,3,6,7)

In [64]:
tupl

(1, 3, 6, 7)

In [65]:
slic = tupl[1:3] # 0<slic<3

In [66]:
slic

(3, 6)

# Set in Python

In [67]:
s1 = {1,2,3,4,4,5,5,6,7,7}

In [68]:
s1 #remove duplicates

{1, 2, 3, 4, 5, 6, 7}

In [69]:
s2={2,3,4,5,8,9}

In [70]:
s1.intersection(s2)

{2, 3, 4, 5}

In [71]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
s1 & s2

{2, 3, 4, 5}

In [73]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
s1.add(22)

In [75]:
s1

{1, 2, 3, 4, 5, 6, 7, 22}

In [76]:
s1.remove(22)

In [77]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [78]:
s1.clear()

In [79]:
s1

set()

# Array in Python

In [80]:
import array as ar

In [81]:
array = ar.array('i',[1,2,3,3,4])

In [82]:
array

array('i', [1, 2, 3, 3, 4])

In [83]:
array.insert(2,20) #2 is position and 20 is value

In [84]:
array

array('i', [1, 2, 20, 3, 3, 4])

In [85]:
array.reverse()

In [86]:
array

array('i', [4, 3, 3, 20, 2, 1])

In [87]:
array.count(3)

2

# Dictionary in Python

In [88]:
dic={'Name' :'Rasel', 'ID':'168'}

In [89]:
dic

{'Name': 'Rasel', 'ID': '168'}

In [90]:
dic['Dept']='CSE'

In [91]:
dic

{'Name': 'Rasel', 'ID': '168', 'Dept': 'CSE'}

In [92]:
dic.keys()

dict_keys(['Name', 'ID', 'Dept'])

In [93]:
dic.values()

dict_values(['Rasel', '168', 'CSE'])

In [94]:
dic['ID']= 189 #change values by key

In [95]:
dic

{'Name': 'Rasel', 'ID': 189, 'Dept': 'CSE'}

In [96]:
dic={'Name': 'Rasel',
    'ID': '168',
    'ID': '199',
    'Dept': 'CSE',
    'Depertment':'CSE'}

In [97]:
dic #Same key values not work, print the last value of same id || same values are not affected

{'Name': 'Rasel', 'ID': '199', 'Dept': 'CSE', 'Depertment': 'CSE'}

In [98]:
dic.pop('Dept')

'CSE'

In [99]:
dic

{'Name': 'Rasel', 'ID': '199', 'Depertment': 'CSE'}

# Data Frame

In [100]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [101]:
import pandas as pd

In [102]:
li = ['data','science','ai']

In [103]:
li

['data', 'science', 'ai']

In [104]:
df=pd.DataFrame(li)

In [105]:
df

         0
0     data
1  science
2       ai

In [106]:
df=pd.DataFrame(li, columns=['Dept'])

In [107]:
df

      Dept
0     data
1  science
2       ai

In [108]:
df.shape # row and column

(3, 1)

In [109]:
row,col= df.shape

In [110]:
row

3

In [111]:
col

1

In [112]:
df2=pd.DataFrame(li,columns=['Dept Name'])

In [113]:
df2

  Dept Name
0      data
1   science
2        ai

In [114]:
df+df2

  Dept Dept Name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [115]:
df

      Dept
0     data
1  science
2       ai

In [116]:
df1=pd.DataFrame(li)
df2=pd.DataFrame(li)

In [117]:
df=pd.concat([df1,df2], axis=1)

In [118]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [119]:
df.drop([0])

         0        0
1  science  science
2       ai       ai

In [120]:
df.drop([0,1], inplace=True)

In [121]:
df

    0   0
2  ai  ai